<body>
Contains an implementation of the worklist algorithm from <em>Melski, Reps: Interconvertibility of a class of set constraints and context-free-language reachability, Theoretical Computer Science 248(1), 2000</em>.
</body>