<body>
Contains support for fast transitive closure computation using a combination of the Tarjan/Nuutila algorithm and compressed bit sets, similar to 
<em>SJ van Schaik, O de Moor: A memory efficient reachability data structure through bit vector compression, Proceedings SIGMOD 11</em>.
</body>