<body>
Contains support for an alias approximation based on Dyck folds, inspired by but different to the algorithm presented in <em>Zhang et al: Fast Algorithms for Dyck-CFL-Reachability with Applications to Alias Analysis, Proceedings PLDI'13.</em>
</body>